@font-face {
  font-family: 'iconfont';  /* project id 2089256 */
  src: url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.eot');
  src: url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2089256_wvrnhld8i8.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yousanjiao:before {
  content: "\e802";
}

.icon-xiugaimima:before {
  content: "\e631";
}

.icon-shangchuanzhaopian:before {
  content: "\e63c";
}

.icon-yanjizhushou-shangchuan_xitong:before {
  content: "\e633";
}

.icon-quxiao:before {
  content: "\e61f";
}

.icon-baoxiu:before {
  content: "\e8f7";
}

.icon-tongxunlu:before {
  content: "\e720";
}

.icon-wode:before {
  content: "\e63a";
}

.icon-shouye:before {
  content: "\e659";
}

.icon-gerenxinxi:before {
  content: "\e634";
}

.icon-yiban:before {
  content: "\e73c";
}

